# ─── WhatsApp API ─────────────────────────────────────────────────────────────
NODE_ENV=development
WA_VERSION=2,3000,1034003740 

VITE_API_URL=http://localhost:4000
CORS_ORIGINS=http://localhost:4000,http://localhost:5000

PORT=4000
ALLOW_PRIVATE_WEBHOOK_IPS=true # set to false to only accept webhook URLs from the same domain

# used to access the Convex dashboard and to deploy
# docker compose exec backend ./generate_admin_key.sh 
INSTANCE_NAME=konecta
CONVEX_ADMIN_KEY=konecta|0175cc53573a817c9a3c780b94392ab703e87...

# Deployment used by local backend
CONVEX_URL=http://localhost:3210 
CONVEX_SITE_URL=http://localhost:3211 


# Save the API Secret — used to create instances and as the frontend password
# Generate API_SECRET with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
API_SECRET=89fa68b39d4dc02f1cc85069e80ad9d857850a72082b...

# ─── PostgreSQL ───────────────────────────────────────────────────────────────
POSTGRES_PASSWORD=password123

# ─── Redis ────────────────────────────────────────────────────────────────────
REDIS_PASSWORD=redissecret
REDIS_URL=redis://:redissecret@localhost:6379

# ─── RabbitMQ ─────────────────────────────────────────────────────────────────
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=password123
RABBITMQ_URL=amqp://rabbit:rabbitsecret@localhost:5672/whatsapp

# cd whatsapp-service
# npx convex dev --url http://localhost:3210  --admin-key "konecta|0175cc53573a817c9a3c780b94392ab7..."

# cd konecta

# docker compose --env-file .env.local -f dependencias.yaml up -d --build
# docker compose --env-file .env.local -f dependencias.yaml down -v

# docker compose --env-file .env.local -f docker-compose.yaml up -d --build
# docker compose --env-file .env.local -f docker-compose.yaml down -v

# docker compose logs whatsapp-api --tail=20
